.topHeader {
	background-color: #05344a;
}

.group:focus .group-focus\:flex {
	display: flex;
}
.hero {
	background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}
.dropdown:hover .dropdown-menu {
	display: block;
}
